<header>
  <h1 style="text-align: center;">
    Opt Out Of Receiving Reminders
  </h1>
</header>
<section style="text-align: center;">
  <p>You have opted out of receiving reminders to invite others to join the SMILE Study.</p>
  <p>Thank you.</p>
</section>