<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear participant,</p>
    <p>Welcome to the SMILE study.</p>
    <p>
      You have successfully signed up to participate in the study.
      When asked in the next survey, please use the code: <b><%= @participant.code %></b>.
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>Sincerely, <br>
      SMILE study team
    </p>
  </body>
</html>
