Dear
<%= @participant.first_name %>,

<p>Thank you for participating in the SMILE SGM Pilot Study.</p>

<p>When you completed the survey, you agreed to recruit other sexual and gender minority (LGBTQ+) participants who identify as
  <b><%= @participant.sgm_group %></b>.</p>

<p>For each of the people you recruit who successfully completes the survey (up to 5 people), you will receive 1 extra raffle entry (for a maximum of 6 total raffle entries, including your completion of the survey) to the raffle for four $250 cash
  prizes.</p>

<p>Please
  <u>identify yourself to your recruits</u>
  as they will need to know who recruited them to complete the survey.</p>

<p>You can recruit other people by sharing with them the following link:</p>

<p>https://duke.qualtrics.com/jfe/form/SV_cGykbuPEYM7Y16K?referrer_code=<%= @participant.code %></p>

<p>Thank you.</p>

<p>Sincerely,</p>
<p>SMILE SGM Pilot Team</p>